$main-color: #ea1c2c;

body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
  transition: background .5s;

  .navbar-brand {
    font-size: 1.5rem;
    color: $main-color;
  }

  .nav-link {
    color: white;

    &:hover {
      color: $main-color;
    }
  }

  .nav-link.active {
    color: $main-color;
  }
}

.navScroll {
  background: #eab0a8;
}

.showcase {
  #headingGroup h1 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3.25rem;

    @include media-breakpoint-down(lg) {
      font-size: 2.5rem;
    }

    span {
      color: $main-color;
    }
  }
}

.otherShowcase {
  h2 {
    color: $main-color;
    font-weight: 100;
    font-size: 2.5rem;

    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }

  p {
    color: lighten($main-color, 25%);
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;

    @include media-breakpoint-down(md) {
      line-height: 1.5;
    }
  }
}